Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:{{revision}}
  - name: dockerfile
    value: openshift/olm-catalog/bundle/Dockerfile
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/webhook:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/webhook.Dockerfile
  ...

operator-next-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-next-index-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.16:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  ...

operator-next-index-4-17-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot:release-v1.14.x] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:release-v1.14.x] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-16-on-push

Add seperate application for index images
  .konflux/1.18/application-index-4.15.yaml
  .konflux/1.18/application-index-4.16.yaml
  .konflux/1.18/application-index-4.17.yaml
  .konflux/1.18/component-index-4.15.yaml
  .konflux/1.18/component-index-4.16.yaml
  .konflux/1.18/component-index-4.17.yaml
  .konflux/1.18/image-index-4.15.yaml
  .konflux/1.18/image-index-4.16.yaml
  .konflux/1.18/image-index-4.17.yaml
  .konflux/1.18/tests-index-4-15.yaml
  .konflux/1.18/tests-index-4-16.yaml
  .konflux/1.18/tests-index-4-17.yaml
Due: none

[bot:release-v1.14.x] Update v4.13 generate catalog
  .konflux/olm-catalog/index/v4.13/catalog-template.json
  .konflux/olm-catalog/index/v4.13/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.14.x.yaml
Due: none

Revert "Red Hat Konflux purge operator-next-bundle"
  .tekton/operator-next-bundle-pull-request.yaml
  .tekton/operator-next-bundle-push.yaml
Due: operator-next-bundle-on-pull-request

[bot] Update release-v1.14.x from tektoncd/operator to 0825b257d6682860b059dedfee05a8a2900c4f9e
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

[bot:release-v1.14.x] update konflux configuration
  .tekton/operator-1-14-bundle-push.yaml
Due: none

Add devel releaseplan for all index images
  .konflux/index-configurations/release-plan-4-12.yaml
  .konflux/index-configurations/release-plan-4-13.yaml
  .konflux/index-configurations/release-plan-4-14.yaml
  .konflux/index-configurations/release-plan-4-15.yaml
  .konflux/index-configurations/release-plan-4-16.yaml
  .konflux/index-configurations/release-plan-4-17.yaml
  .konflux/index-configurations/release-plan-4-18.yaml
Due: none

Delete .github/workflows/update-sources-release-v1.14.x-test.yaml
  .github/workflows/update-sources-release-v1.14.x-test.yaml
Due: none

Update project.yaml witn tkn SHA
  project.yaml
Due: operator-next-bundle-on-pull-request

Update webhook.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

[bot:release-v1.14.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.14.x] Update v4.12 generate catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.14 generate catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
