Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

[bot:release-v1.14.x] update konflux configuration
  .tekton/operator-1-14-bundle-pull-request.yaml
  .tekton/operator-1-14-bundle-push.yaml
  .tekton/operator-1-14-operator-pull-request.yaml
  .tekton/operator-1-14-operator-push.yaml
  .tekton/operator-1-14-proxy-pull-request.yaml
  .tekton/operator-1-14-proxy-push.yaml
  .tekton/operator-1-14-webhook-pull-request.yaml
  .tekton/operator-1-14-webhook-push.yaml
Due: none

Update project yaml to point to 1-14
  project.yaml
Due: operator-next-bundle-on-pull-request

Red Hat Konflux update operator-1-14-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-bundle-pull-request.yaml
  .tekton/operator-1-14-bundle-push.yaml
Due: none

Red Hat Konflux update operator-1-14-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-operator-pull-request.yaml
  .tekton/operator-1-14-operator-push.yaml
Due: none

Red Hat Konflux update operator-1-14-proxy Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-proxy-pull-request.yaml
  .tekton/operator-1-14-proxy-push.yaml
Due: none

Red Hat Konflux update operator-1-14-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-webhook-pull-request.yaml
  .tekton/operator-1-14-webhook-push.yaml
Due: none

[1-14] Update dockerfile, index and bundle
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/olm-catalog/bundle/Dockerfile
  .konflux/olm-catalog/bundle/metadata/annotations.yaml
  .konflux/olm-catalog/index/v4.12/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.13/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.13/catalog-template.json
  .konflux/olm-catalog/index/v4.13/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.14/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.15/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.18/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .tekton/operator-1-17-bundle-pull-request.yaml
  .tekton/operator-1-17-bundle-push.yaml
  .tekton/operator-1-17-operator-pull-request.yaml
  .tekton/operator-1-17-operator-push.yaml
  .tekton/operator-1-17-proxy-pull-request.yaml
  .tekton/operator-1-17-proxy-push.yaml
  .tekton/operator-1-17-webhook-pull-request.yaml
  .tekton/operator-1-17-webhook-push.yaml
  .tekton/operator-next-index-4-15-pull-request.yaml
  .tekton/operator-next-index-4-15-push.yaml
  .tekton/operator-next-index-4-16-pull-request.yaml
  .tekton/operator-next-index-4-16-push.yaml
  .tekton/operator-next-index-4-17-pull-request.yaml
  .tekton/operator-next-index-4-17-push.yaml
  .tekton/operator-next-index-4-18-pull-request.yaml
  .tekton/operator-next-index-4-18-push.yaml
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.14.x.yaml
Due: none

Remove spaces from makefile
  Makefile
Due: none

Fix missing separator issue Makefile
  Makefile
Due: none

Remove manual-approval-gate changes from fetch-payload.sh file
  hack/operator-fetch-payload.sh
Due: none

[bot:pruner] update konflux configuration
  .tekton/operator--bundle-pull-request.yaml
  .tekton/operator--bundle-push.yaml
  .tekton/operator--operator-pull-request.yaml
  .tekton/operator--operator-push.yaml
  .tekton/operator--proxy-pull-request.yaml
  .tekton/operator--proxy-push.yaml
  .tekton/operator--webhook-pull-request.yaml
  .tekton/operator--webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-main.yaml
  .github/workflows/update-sources-main.yaml
  .tekton/operator-main-bundle-pull-request.yaml
  .tekton/operator-main-bundle-push.yaml
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
  .tekton/operator-main-webhook-pull-request.yaml
  .tekton/operator-main-webhook-push.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push

Red Hat Konflux update operator-main-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-bundle-pull-request.yaml
  .tekton/operator-main-bundle-push.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push

Red Hat Konflux update operator-main-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
Due: operator-main-operator-on-pull-request

Red Hat Konflux update operator-main-proxy Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
Due: none

Red Hat Konflux update operator-main-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-webhook-pull-request.yaml
  .tekton/operator-main-webhook-push.yaml
Due: operator-main-webhook-on-push

Update dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

Update project yaml with missed SHA
  project.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.14.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Update Dockerfile to add extra labels
  .konflux/olm-catalog/bundle/Dockerfile
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Add tekton file for 4.12 to 4.18 index images
  .tekton/operator-1-14-index-4-12-pull-request.yaml
  .tekton/operator-1-14-index-4-12-push.yaml
  .tekton/operator-1-14-index-4-13-pull-request.yaml
  .tekton/operator-1-14-index-4-13-push.yaml
  .tekton/operator-1-14-index-4-14-pull-request.yaml
  .tekton/operator-1-14-index-4-14-push.yaml
  .tekton/operator-1-14-index-4-15-pull-request.yaml
  .tekton/operator-1-14-index-4-15-push.yaml
  .tekton/operator-1-14-index-4-16-pull-request.yaml
  .tekton/operator-1-14-index-4-16-push.yaml
  .tekton/operator-1-14-index-4-17-pull-request.yaml
  .tekton/operator-1-14-index-4-17-push.yaml
  .tekton/operator-1-14-index-4-18-pull-request.yaml
  .tekton/operator-1-14-index-4-18-push.yaml
Due: none

Add konflux configuration for index images
  .konflux/index-configurations/application-index-4.12.yaml
  .konflux/index-configurations/application-index-4.13.yaml
  .konflux/index-configurations/application-index-4.14.yaml
  .konflux/index-configurations/application-index-4.15.yaml
  .konflux/index-configurations/application-index-4.16.yaml
  .konflux/index-configurations/application-index-4.17.yaml
  .konflux/index-configurations/application-index-4.18.yaml
  .konflux/index-configurations/component-index-4.12.yaml
  .konflux/index-configurations/component-index-4.13.yaml
  .konflux/index-configurations/component-index-4.14.yaml
  .konflux/index-configurations/component-index-4.15.yaml
  .konflux/index-configurations/component-index-4.16.yaml
  .konflux/index-configurations/component-index-4.17.yaml
  .konflux/index-configurations/component-index-4.18.yaml
  .konflux/index-configurations/image-index-4.12.yaml
  .konflux/index-configurations/image-index-4.13.yaml
  .konflux/index-configurations/image-index-4.14.yaml
  .konflux/index-configurations/image-index-4.15.yaml
  .konflux/index-configurations/image-index-4.16.yaml
  .konflux/index-configurations/image-index-4.17.yaml
  .konflux/index-configurations/image-index-4.18.yaml
  .konflux/index-configurations/tests-index-4-12.yaml
  .konflux/index-configurations/tests-index-4-13.yaml
  .konflux/index-configurations/tests-index-4-14.yaml
  .konflux/index-configurations/tests-index-4-15.yaml
  .konflux/index-configurations/tests-index-4-16.yaml
  .konflux/index-configurations/tests-index-4-17.yaml
  .konflux/index-configurations/tests-index-4-18.yaml
Due: none
