Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines
  .tekton/fbc-build.yaml
Due: operator-next-index-4-17-on-push, operator-next-index-on-push

[bot] Update release-v1.18.x from tektoncd/operator to 39cdc4dad87c14d393632dbf21f6b86ecfd28811
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/charts/tekton-operator/Chart.yaml
  upstream/charts/tekton-operator/templates/_helpers.tpl
  upstream/operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml.tmpl
  upstream/operatorhub/openshift/release-artifacts/bundle.Dockerfile
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/config-logging_v1_configmap.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-prometheus-k8s-read-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-read_rbac.authorization.k8s.io_v1_role.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_manualapprovalgates.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_openshiftpipelinesascodes.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektonaddons.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektonchains.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektonconfigs.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektonhubs.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektoninstallersets.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektonresults.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/operator.tekton.dev_tektontriggers.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-operator-controller-config-leader-election_v1_configmap.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_role.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-operator-info_v1_configmap.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-operator-webhook-config-leader-election_v1_configmap.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-operator-webhook_v1_service.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-operator_v1_service.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-result-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/tekton-result-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/metadata/annotations.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

[bot] Update release-v1.18.x from tektoncd/operator to 4bc6259bb4eef3ed01cd09ba9ab3d40b75b32ebd
  .konflux/olm-catalog/bundle/kodata/static/tekton-results/internal-db/db.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/cmd/openshift/operator/kodata/static/tekton-results/internal-db/db.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

Update base image for 4.18 and image value for IMAGE_ADDONS_TKN_CLI_SERVE
  .konflux/olm-catalog/index/v4.18/Dockerfile.catalog
  project.yaml
Due: operator-next-bundle-on-pull-request

[bot] Update release-v1.18.x from tektoncd/operator to 4bc6259bb4eef3ed01cd09ba9ab3d40b75b32ebd
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.18.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

revert the IMAGE_ADDONS_TKN_CLI_SERVE as release has not executed
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:1.18] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-16-on-push

[bot:1.18] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:1.18] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-push

[bot:1.18] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

update tag for 4.15 and 4.16 dockerfile
  .konflux/olm-catalog/index/v4.15/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
Due: operator-next-index-4-16-on-push

update render template to make it work with 4.17 and later version
  .github/workflows/index-render-template-1-18.yaml
Due: none

Fix if condition issue to render the template for 4.17
  .github/workflows/index-render-template-1-18.yaml
Due: none
