Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:{{revision}}
  - name: dockerfile
    value: openshift/olm-catalog/bundle/Dockerfile
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/webhook:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/webhook.Dockerfile
  ...

operator-next-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-next-index-4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.17:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

operator-next-index-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/Dockerfile
  pipelineRef:
  ...

[bot:main] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-push

[bot:1.18] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:1.18] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-push

[bot:1.18] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

Update index render template workflow to generate catalog from registry.stage.redhat.io
  .github/workflows/index-render-template-1-18.yaml
Due: none

Update project.yaml with bundle Image
  project.yaml
Due: operator-next-bundle-on-pull-request

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request

Updating workflow operator-update-images-next name to generic one
  .github/workflows/operator-update-images.yaml
Due: none

[bot] Update release-v1.18.x from tektoncd/operator to 509719762a86d2a8a3f10c708335d000837401be
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/stepactions/cache-fetch/cache-fetch-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/stepactions/cache-upload/cache-upload-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/v0.33.0/release.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.golangci.yml
  upstream/components.yaml
  upstream/docs/TektonResult.md
  upstream/go.mod
  upstream/go.sum
  upstream/hack/openshift/fetch-tektoncd-catalog-tasks.sh
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/pkg/apis/operator/v1alpha1/tektonconfig_validation_test.go
  upstream/pkg/reconciler/platform/types_test.go
  upstream/test/e2e/common/04_tektonchainsgettingstartedtutorial_test.go
  upstream/vendor/github.com/spf13/cobra/README.md
  upstream/vendor/github.com/spf13/cobra/active_help.go
  upstream/vendor/github.com/spf13/cobra/bash_completionsV2.go
  upstream/vendor/github.com/spf13/cobra/cobra.go
  upstream/vendor/github.com/spf13/cobra/command.go
  upstream/vendor/github.com/spf13/cobra/completions.go
  upstream/vendor/github.com/spf13/cobra/powershell_completions.go
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/main/image-bundle.yaml
  .konflux/main/image-operator.yaml
  .konflux/main/image-proxy.yaml
  .konflux/main/image-webhook.yaml
  .tekton/operator-main-bundle-pull-request.yaml
  .tekton/operator-main-bundle-push.yaml
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
  .tekton/operator-main-webhook-pull-request.yaml
  .tekton/operator-main-webhook-push.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot:next] update konflux configuration
  .konflux/next/image-bundle.yaml
  .konflux/next/image-operator.yaml
  .konflux/next/image-proxy.yaml
  .konflux/next/image-webhook.yaml
  .tekton/operator-next-bundle-pull-request.yaml
  .tekton/operator-next-bundle-push.yaml
  .tekton/operator-next-operator-pull-request.yaml
  .tekton/operator-next-operator-push.yaml
  .tekton/operator-next-proxy-pull-request.yaml
  .tekton/operator-next-proxy-push.yaml
  .tekton/operator-next-webhook-pull-request.yaml
  .tekton/operator-next-webhook-push.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Update test-1-18.yaml
  .github/workflows/test-1-18.yaml
Due: none

Update project.yaml to update pac references
  project.yaml
Due: operator-next-bundle-on-pull-request

Build Index images only when there is an update in catalog.
  .tekton/operator-1-18-index-4-15-pull-request.yaml
  .tekton/operator-1-18-index-4-15-push.yaml
  .tekton/operator-1-18-index-4-16-pull-request.yaml
  .tekton/operator-1-18-index-4-16-push.yaml
  .tekton/operator-1-18-index-4-17-pull-request.yaml
  .tekton/operator-1-18-index-4-17-push.yaml
  .tekton/operator-1-18-index-4-18-pull-request.yaml
  .tekton/operator-1-18-index-4-18-push.yaml
Due: none

Remove quayImage property as it was added for testing purpose.
  .konflux/olm-catalog/index/v4.15/catalog-template.json
Due: none

[bot:1.18] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

Update Workflow to commit updated catalog-template.json
  .github/workflows/index-render-template-1-18-test.yaml
  .github/workflows/index-render-template-1-18.yaml
Due: none

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
