Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request, operator-next-index-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/*build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-multicluster-bundle-on-pull-request: ((any of: .konflux/olm-catalog/bundle/***) or (any of: .konflux/dockerfiles/bundle.Dockerfile)) or (any of: .tekton/operator-multicluster-bundle-pull-request.yaml)
  operator-multicluster-operator-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-multicluster-operator-push.yaml)
  operator-multicluster-proxy-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-multicluster-proxy-push.yaml)
  operator-next-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-next-bundle-pull-request.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-4.12-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.12/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.12-pull-request.yaml)
  operator-next-index-4.14-on-push: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.14/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.14-push.yaml)
  operator-next-index-4.15-on-push: (((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.15.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-index-4.15-push.yaml)
  operator-next-index-4.20-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.20.Dockerfile)) or (any of: .tekton/operator-next-index-4.20-pull-request.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-proxy-on-pull-request: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-next-proxy-pull-request.yaml)
  operator-next-proxy-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-proxy-push.yaml)

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator-webhook_v1_service.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator_v1_service.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:nightly] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator-webhook_v1_service.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator_v1_service.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.24.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:nightly] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.21.x] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

[bot:release-v1.22.x] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.23/catalog-template.json
  .konflux/olm-catalog/index/v4.23/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v5.0/catalog-template.json
  .konflux/olm-catalog/index/v5.0/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

[bot] Update release-v1.21.x from tektoncd/operator:release-v0.78.x to b7fa747ddbd664cdede556a2af95c0be615e29e8
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/config/openshift/base/operator.yaml
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot] Update next from tektoncd/operator:main to 144803651c1ed8cc6c5ef311927db85f1d57f16a
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  project.yaml
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/config/openshift/base/operator.yaml
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot] Update release-v1.22.x from tektoncd/operator:release-v0.79.x to 26a579a457fb81f9493da7f0739f520e3c62ff1c
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/config/openshift/base/operator.yaml
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/tekton/task-fetch-components.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot] Update nightly from tektoncd/operator:main to 144803651c1ed8cc6c5ef311927db85f1d57f16a
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  project.yaml
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/config/openshift/base/operator.yaml
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.23.x] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.23/catalog-template.json
  .konflux/olm-catalog/index/v4.23/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v5.0/catalog-template.json
  .konflux/olm-catalog/index/v5.0/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

fix(project): align Tekton Kueue image keys
  project.yaml
Due: none

[bot:nightly] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.23/catalog-template.json
  .konflux/olm-catalog/index/v4.23/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v5.0/catalog-template.json
  .konflux/olm-catalog/index/v5.0/catalog/openshift-pipelines-operator-rh/catalog.json
  olm/config.yaml
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

[bot] Update release-v1.23.x from tektoncd/operator:release-v0.80.x to daec448836859c5aa53cdad611420ebe917f119d
  head
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/tekton/task-fetch-components.yaml
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot] Update nightly from tektoncd/operator:main to a951115b5adc4bf28a6f7f8f8c03f29f0d7dcc52
  head
  project.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/zizmor.yaml
  upstream/tekton/build-publish-images-manifests.yaml
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot] Update next from tektoncd/operator:main to a951115b5adc4bf28a6f7f8f8c03f29f0d7dcc52
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  project.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/zizmor.yaml
  upstream/tekton/build-publish-images-manifests.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-proxy-on-pull-request, operator-next-proxy-on-push
