Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.18-pull-request.yaml
  .tekton/operator-next-index-4.18-push.yaml
Due: none

[bot:main] update konflux configuration
  .konflux/.placeholder
Due: none

[bot:konflux/component-updates/component-update-tektoncd-triggers-next-webhook] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:konflux/component-updates/component-update-tektoncd-triggers-next-core-interceptors] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:konflux/component-updates/component-update-tektoncd-results-next-api] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:konflux/component-updates/component-update-tektoncd-triggers-next-eventlistenersink] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.18.x.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/operator-1-15-bundle-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-bundle-pull-request.yaml
  .tekton/operator-next-bundle-push.yaml
  .tekton/operator-next-operator-pull-request.yaml
  .tekton/operator-next-operator-push.yaml
  .tekton/operator-next-proxy-pull-request.yaml
  .tekton/operator-next-proxy-push.yaml
  .tekton/operator-next-webhook-pull-request.yaml
  .tekton/operator-next-webhook-push.yaml
Due: operator-next-bundle-on-pull-request

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.12-pull-request.yaml
  .tekton/operator-next-index-4.12-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.13-pull-request.yaml
  .tekton/operator-next-index-4.13-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.14-pull-request.yaml
  .tekton/operator-next-index-4.14-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.15-pull-request.yaml
  .tekton/operator-next-index-4.15-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.16-pull-request.yaml
  .tekton/operator-next-index-4.16-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-index-4.17-pull-request.yaml
  .tekton/operator-next-index-4.17-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .tekton/operator-1-18-bundle-pull-request.yaml
  .tekton/operator-1-18-bundle-push.yaml
  .tekton/operator-1-18-operator-pull-request.yaml
  .tekton/operator-1-18-operator-push.yaml
  .tekton/operator-1-18-proxy-pull-request.yaml
  .tekton/operator-1-18-proxy-push.yaml
  .tekton/operator-1-18-webhook-pull-request.yaml
  .tekton/operator-1-18-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-next-index-4-17 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-next-index-4-17-pull-request.yaml
  .tekton/operator-next-index-4-17-push.yaml
Due: operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

Red Hat Konflux kflux-prd-rh02 update operator-next-index-4-18 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-next-index-4-18-pull-request.yaml
  .tekton/operator-next-index-4-18-push.yaml
Due: none

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request
