Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/*build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

[bot:release-v1.20.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

trigger bundle build
  .konflux/olm-catalog/bundle/Dockerfile
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

[bot:next] Update catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:release-v1.20.x] Update catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

trigger build
  .konflux/olm-catalog/index/v4.15/Dockerfile.catalog
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

[bot] Update next from tektoncd/operator to 3b01d5e8439b36225c26c71b3dd0a0bc762c1267
  .konflux/olm-catalog/bundle/Dockerfile
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_manualapprovalgates.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_openshiftpipelinesascodes.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonaddons.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonchains.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonconfigs.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonhubs.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektoninstallersets.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonpipelines.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonpruners.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonresults.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektontriggers.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator-webhook_v1_service.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator_v1_service.yaml
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-17-on-push

Update github.com/rcrowley/go-metrics digest to 65e299d
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/rcrowley/go-metrics/README.md
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/azure/go-autorest/autorest/adal to v0.9.24
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/Azure/go-autorest/autorest/adal/README.md
  upstream/vendor/github.com/Azure/go-autorest/autorest/adal/devicetoken.go
  upstream/vendor/github.com/Azure/go-autorest/autorest/adal/persist.go
  upstream/vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/azure/go-autorest/autorest/azure/cli to v0.4.7
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/Azure/go-autorest/autorest/azure/cli/profile.go
  upstream/vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/azure/go-autorest/autorest/date to v0.3.1
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/Azure/go-autorest/autorest/date/go_mod_tidy_hack.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/azure/go-autorest/autorest/azure/auth to v0.5.13
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/Azure/go-autorest/autorest/azure/auth/auth.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/azure/go-autorest/logger to v0.2.2
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/Azure/go-autorest/logger/go_mod_tidy_hack.go
  upstream/vendor/github.com/Azure/go-autorest/logger/logger.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/azure/go-autorest/tracing to v0.6.1
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/Azure/go-autorest/tracing/go_mod_tidy_hack.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/cli/safeexec to v1.0.1
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/cli/safeexec/README.md
  upstream/vendor/github.com/cli/safeexec/lookpath.go
  upstream/vendor/github.com/cli/safeexec/lookpath_1.18.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

fix(deps): update knative.dev/pkg digest to aadc6f6
  upstream/go.mod
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update dependency pyyaml to v6.0.3
  requirements.txt
Due: none

chore(deps): update module github.com/cli/shurcool-graphql to v0.0.4
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/cli/shurcooL-graphql/README.md
  upstream/vendor/github.com/cli/shurcooL-graphql/graphql.go
  upstream/vendor/github.com/cli/shurcooL-graphql/ident/ident.go
  upstream/vendor/github.com/cli/shurcooL-graphql/internal/jsonutil/graphql.go
  upstream/vendor/github.com/cli/shurcooL-graphql/query.go
  upstream/vendor/github.com/cli/shurcooL-graphql/scalar.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/alibabacloud-go/alibabacloud-gateway-spi to v0.0.5
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/alibabacloud-go/tea/tea/tea.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/credential.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/ecs_ram_role.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/instance_provider.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/oidc_credential.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/profile_provider.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/provider.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/provider_chain.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/sts_role_arn_credential.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/docker/cli to v27.5.1+incompatible
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/go-chi/chi to v4.1.3
  upstream/go.mod
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

chore(deps): update module github.com/alibabacloud-go/debug to v1.0.1
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/alibabacloud-go/debug/debug/assert.go
  upstream/vendor/github.com/alibabacloud-go/debug/debug/debug.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push

Update module github.com/alibabacloud-go/alibabacloud-gateway-spi to v0.0.5
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/alibabacloud-go/tea/tea/tea.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/credential.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/ecs_ram_role.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/instance_provider.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/oidc_credential.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/profile_provider.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/provider.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/provider_chain.go
  upstream/vendor/github.com/aliyun/credentials-go/credentials/sts_role_arn_credential.go
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push
