Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-index-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:{{revision}}
  - name: dockerfile
    value: openshift/olm-catalog/bundle/Dockerfile
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/webhook:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/webhook.Dockerfile
  ...

operator-next-index-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/Dockerfile
  pipelineRef:
  ...

[bot] Update next from tektoncd/operator to e98fb22b59e7cd0c42e9c6451efd06d07e982855
  head
  upstream/charts/tekton-operator/values.yaml
  upstream/config/kubernetes/base/operator.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/kubernetes/config.yaml
  upstream/operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  upstream/vendor/modules.txt
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot:next] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:next] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:next] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot] Update main from tektoncd/operator to b9a5614346b3c48e58c125b9093fe25e0a6b1eb4
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/charts/tekton-operator/values.yaml
  upstream/components.yaml
  upstream/config/kubernetes/base/operator.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/kubernetes/config.yaml
  upstream/operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update next from tektoncd/operator to b9a5614346b3c48e58c125b9093fe25e0a6b1eb4
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/v0.31.0/release.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/components.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update next from tektoncd/operator to 344b6d790f24eec21816ec4a038eb78b53e4b31a
  head
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/tekton/release-cheat-sheet.md
  upstream/tekton/setup-release-from-scratch.md
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update next from tektoncd/operator to 4e0f6781aeeb32724aa383265fe2ff5e8e8d4a1e
  head
  upstream/DEVELOPMENT.md
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update main from tektoncd/operator to a98ed25f242ba10da27a48fc2cd876a290656701
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
  head
  upstream/DEVELOPMENT.md
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/tekton/release-cheat-sheet.md
  upstream/tekton/setup-release-from-scratch.md
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update next from tektoncd/operator to a98ed25f242ba10da27a48fc2cd876a290656701
  head
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update main from tektoncd/operator to a98ed25f242ba10da27a48fc2cd876a290656701
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
Due: operator-main-bundle-on-pull-request

[bot] Update main from tektoncd/operator to d19cac47104deeadc2da9dd8617f2ba04fae7c11
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
Due: operator-main-bundle-on-pull-request

Update e2e Test Config Task.
  .konflux/tekton/bundle-e2e-pipeline.yaml
Due: none

.konflux/dockerfiles: update go builder image to 1.23
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: ((((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
