Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

Red Hat Konflux update operator-1-14-index-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-12-pull-request.yaml
  .tekton/operator-1-14-index-4-12-push.yaml
Due: none

Red Hat Konflux update operator-1-14-index-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-13-pull-request.yaml
  .tekton/operator-1-14-index-4-13-push.yaml
Due: none

Red Hat Konflux update operator-1-14-index-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-14-pull-request.yaml
  .tekton/operator-1-14-index-4-14-push.yaml
Due: none

Add tekton file for 4.12 to 4.18 index images
  .tekton/operator-1-14-index-4-12-pull-request.yaml
  .tekton/operator-1-14-index-4-12-push.yaml
  .tekton/operator-1-14-index-4-13-pull-request.yaml
  .tekton/operator-1-14-index-4-13-push.yaml
  .tekton/operator-1-14-index-4-14-pull-request.yaml
  .tekton/operator-1-14-index-4-14-push.yaml
  .tekton/operator-1-14-index-4-15-pull-request.yaml
  .tekton/operator-1-14-index-4-15-push.yaml
  .tekton/operator-1-14-index-4-16-pull-request.yaml
  .tekton/operator-1-14-index-4-16-push.yaml
  .tekton/operator-1-14-index-4-17-pull-request.yaml
  .tekton/operator-1-14-index-4-17-push.yaml
  .tekton/operator-1-14-index-4-18-pull-request.yaml
  .tekton/operator-1-14-index-4-18-push.yaml
Due: none

Red Hat Konflux update operator-1-14-index-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-15-pull-request.yaml
  .tekton/operator-1-14-index-4-15-push.yaml
Due: none

Red Hat Konflux update operator-1-14-index-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-16-pull-request.yaml
  .tekton/operator-1-14-index-4-16-push.yaml
Due: none

Red Hat Konflux update operator-1-14-index-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-17-pull-request.yaml
  .tekton/operator-1-14-index-4-17-push.yaml
Due: none

Red Hat Konflux update operator-1-14-index-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-14-index-4-18-pull-request.yaml
  .tekton/operator-1-14-index-4-18-push.yaml
Due: none

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request

Update index-render-template.sh
  hack/index-render-template.sh
Due: none

[bot:release-v1.14.x] Update v4.12 generate catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.13 generate catalog
  .konflux/olm-catalog/index/v4.13/catalog-template.json
  .konflux/olm-catalog/index/v4.13/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:release-v1.14.x] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.14 generate catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:release-v1.14.x] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-16-on-push

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Add Patch files for Pruner Onboarding
  .konflux/1.18/application-index-4.15.yaml
  .konflux/1.18/application-index-4.16.yaml
  .konflux/1.18/application-index-4.17.yaml
  .konflux/1.18/application-index-4.18.yaml
  .konflux/1.18/component-index-4.15.yaml
  .konflux/1.18/component-index-4.16.yaml
  .konflux/1.18/component-index-4.17.yaml
  .konflux/1.18/component-index-4.18.yaml
  .konflux/1.18/image-index-4.15.yaml
  .konflux/1.18/image-index-4.16.yaml
  .konflux/1.18/image-index-4.17.yaml
  .konflux/1.18/image-index-4.18.yaml
  .konflux/1.18/tests-index-4-15.yaml
  .konflux/1.18/tests-index-4-16.yaml
  .konflux/1.18/tests-index-4-17.yaml
  .konflux/1.18/tests-index-4-18.yaml
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/main/component-index-4.15.yaml
  .konflux/main/component-index-4.16.yaml
  .konflux/main/component-index-4.17.yaml
  .konflux/main/image-index-4.15.yaml
  .konflux/main/image-index-4.16.yaml
  .konflux/main/image-index-4.17.yaml
  .konflux/main/tests-e2e-tektoncd-pipelines.yaml
  .konflux/main/tests-index-4-15.yaml
  .konflux/main/tests-index-4-16.yaml
  .konflux/main/tests-index-4-17.yaml
  .konflux/patches/0001-Add-TektonPruner-component-in-Operator.patch
  .konflux/patches/0002-Add-TektonConfig-for-Pruner.patch
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Update Github Workflow for bundle images
  .github/workflows/operator-update-images.yaml
Due: none

Update CSV update scripts
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  hack/index-render-template.sh
  hack/operator-update-images.sh
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Update BUNDLE_ARGS
  hack/operator-fetch-payload.sh
Due: none

Add config.yaml change untill upstream 2660 PR merge
  upstream/operatorhub/openshift/config.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

Update BUNDLE_NAME to 1.14.6
  hack/index-render-template.sh
Due: none

Add Pruner Image
  project.yaml
Due: operator-next-bundle-on-pull-request

Update operator-fetch-payload.sh
  hack/operator-fetch-payload.sh
Due: none

[bot] Update release-v1.14.x from tektoncd/operator to 0d36fd1c8909c542949a0c8ca2f5b9ba510c7ffd
  upstream/operatorhub/openshift/config.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

Check fetch payload file behaviour
  .github/workflows/update-sources-release-v1.14.x-test.yaml
Due: none
