Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request, operator-next-index-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/operator-bundle-rhel9:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/bundle/Dockerfile
  ...

operator-main-index-4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/operator-index-4-17-rhel9:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

operator-main-index-4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/index-4.17:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

operator-main-index-4.18-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/index-4.18:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog
  pipelineRef:
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-proxy-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/operator-proxy-rhel9:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/index-4.20.Dockerfile
  .tekton/operator-1-22-index-4-20-pull-request.yaml
  .tekton/operator-1-22-index-4-20-push.yaml
Due: operator-next-index-4.20-on-pull-request

[bot:next] update konflux configuration
  .konflux/dockerfiles/index-4.21.Dockerfile
  .tekton/operator-next-index-4-21-pull-request.yaml
  .tekton/operator-next-index-4-21-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/index-4.21.Dockerfile
  .tekton/operator-1-22-index-4-21-pull-request.yaml
  .tekton/operator-1-22-index-4-21-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/operator-1-21-operator-pull-request.yaml
  .tekton/operator-1-21-operator-push.yaml
  .tekton/operator-1-21-proxy-pull-request.yaml
  .tekton/operator-1-21-proxy-push.yaml
  .tekton/operator-1-21-webhook-pull-request.yaml
  .tekton/operator-1-21-webhook-push.yaml
Due: operator-main-proxy-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/index-4.22.Dockerfile
  .tekton/operator-next-index-4-22-pull-request.yaml
  .tekton/operator-next-index-4-22-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/index-4.22.Dockerfile
  .tekton/operator-1-22-index-4-22-pull-request.yaml
  .tekton/operator-1-22-index-4-22-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .tekton/operator-1-21-bundle-pull-request.yaml
  .tekton/operator-1-21-bundle-push.yaml
Due: operator-multicluster-bundle-on-pull-request

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/operator-1-20-operator-pull-request.yaml
  .tekton/operator-1-20-operator-push.yaml
  .tekton/operator-1-20-proxy-pull-request.yaml
  .tekton/operator-1-20-proxy-push.yaml
  .tekton/operator-1-20-webhook-pull-request.yaml
  .tekton/operator-1-20-webhook-push.yaml
Due: operator-main-proxy-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .tekton/operator-1-21-index-4-14-pull-request.yaml
  .tekton/operator-1-21-index-4-14-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .tekton/operator-1-20-bundle-pull-request.yaml
  .tekton/operator-1-20-bundle-push.yaml
Due: operator-multicluster-bundle-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.16.Dockerfile
  .tekton/operator-1-21-index-4-16-pull-request.yaml
  .tekton/operator-1-21-index-4-16-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .tekton/operator-1-20-index-4-14-pull-request.yaml
  .tekton/operator-1-20-index-4-14-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.18.Dockerfile
  .tekton/operator-1-21-index-4-18-pull-request.yaml
  .tekton/operator-1-21-index-4-18-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/index-4.16.Dockerfile
  .tekton/operator-1-20-index-4-16-pull-request.yaml
  .tekton/operator-1-20-index-4-16-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.19.Dockerfile
  .tekton/operator-1-21-index-4-19-pull-request.yaml
  .tekton/operator-1-21-index-4-19-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/index-4.18.Dockerfile
  .tekton/operator-1-20-index-4-18-pull-request.yaml
  .tekton/operator-1-20-index-4-18-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.20.Dockerfile
  .tekton/operator-1-21-index-4-20-pull-request.yaml
  .tekton/operator-1-21-index-4-20-push.yaml
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/index-4.19.Dockerfile
  .tekton/operator-1-20-index-4-19-pull-request.yaml
  .tekton/operator-1-20-index-4-19-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.21.Dockerfile
  .tekton/operator-1-21-index-4-21-pull-request.yaml
  .tekton/operator-1-21-index-4-21-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/index-4.20.Dockerfile
  .tekton/operator-1-20-index-4-20-pull-request.yaml
  .tekton/operator-1-20-index-4-20-push.yaml
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.22.Dockerfile
  .tekton/operator-1-21-index-4-22-pull-request.yaml
  .tekton/operator-1-21-index-4-22-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/index-4.21.Dockerfile
  .tekton/operator-1-20-index-4-21-pull-request.yaml
  .tekton/operator-1-20-index-4-21-push.yaml
Due: none

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/index-4.16.Dockerfile
  .tekton/operator-1-24-index-4-16-pull-request.yaml
  .tekton/operator-1-24-index-4-16-push.yaml
Due: none

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/operator-1-24-operator-pull-request.yaml
  .tekton/operator-1-24-operator-push.yaml
  .tekton/operator-1-24-proxy-pull-request.yaml
  .tekton/operator-1-24-proxy-push.yaml
  .tekton/operator-1-24-webhook-pull-request.yaml
  .tekton/operator-1-24-webhook-push.yaml
Due: operator-main-proxy-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: operator-main-proxy-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .tekton/operator-1-24-bundle-pull-request.yaml
  .tekton/operator-1-24-bundle-push.yaml
Due: operator-multicluster-bundle-on-pull-request

[bot:next] update konflux configuration
  .konflux/dockerfiles/index-4.20.Dockerfile
  .tekton/operator-next-index-4-20-pull-request.yaml
  .tekton/operator-next-index-4-20-push.yaml
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/index-4.18.Dockerfile
  .tekton/operator-1-24-index-4-18-pull-request.yaml
  .tekton/operator-1-24-index-4-18-push.yaml
Due: none

[bot:next] update konflux configuration
  .konflux/dockerfiles/index-4.19.Dockerfile
  .tekton/operator-next-index-4-19-pull-request.yaml
  .tekton/operator-next-index-4-19-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/index-4.19.Dockerfile
  .tekton/operator-1-22-index-4-19-pull-request.yaml
  .tekton/operator-1-22-index-4-19-push.yaml
Due: none

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/*build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-multicluster-bundle-on-pull-request: ((any of: .konflux/olm-catalog/bundle/***) or (any of: .konflux/dockerfiles/bundle.Dockerfile)) or (any of: .tekton/operator-multicluster-bundle-pull-request.yaml)
  operator-multicluster-operator-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-multicluster-operator-push.yaml)
  operator-multicluster-proxy-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-multicluster-proxy-push.yaml)
  operator-next-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-next-bundle-pull-request.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-4.12-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.12/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.12-pull-request.yaml)
  operator-next-index-4.14-on-push: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.14/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.14-push.yaml)
  operator-next-index-4.15-on-push: (((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.15.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-index-4.15-push.yaml)
  operator-next-index-4.20-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.20.Dockerfile)) or (any of: .tekton/operator-next-index-4.20-pull-request.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-proxy-on-pull-request: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-next-proxy-pull-request.yaml)
  operator-next-proxy-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-proxy-push.yaml)
