Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: ((((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

[bot:main] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot] Update next from tektoncd/operator to 4e323f9a0bf093b2ab7454773198b672ed477085
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-buildah/task-buildah-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-dotnet/task-s2i-dotnet-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-go/task-s2i-go-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-java/task-s2i-java-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-nodejs/task-s2i-nodejs-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-perl/task-s2i-perl-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-php/task-s2i-php-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-python/task-s2i-python-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-ruby/task-s2i-ruby-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/v0.32.0/release.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.23.1/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-results/0.13.3/00-results.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/helm-release.yaml
  upstream/.ko.yaml
  upstream/charts/tekton-operator/templates/_helpers.tpl
  upstream/charts/tekton-operator/values.yaml
  upstream/components.yaml
  upstream/config/kubernetes/base/operator.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/kubernetes/config.yaml
  upstream/operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/pkg/reconciler/common/common.go
  upstream/pkg/reconciler/common/targetnamespace.go
  upstream/pkg/reconciler/common/targetnamespace_test.go
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/test/e2e-common.sh
  upstream/test/e2e/common/05_tektonhubdeployment_test.go
  upstream/test/resources/deployment.go
  upstream/test/resources/pod.go
  upstream/test/resources/tektonconfigs.go
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot:main] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

wip: trying something
  .konflux/olm-catalog/bundle/Dockerfile
  .tekton/operator-main-bundle-pull-request.yaml
  artifacts.lock.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push

Add Github Action to Update image references in CSV
  .github/workflows/operator-update-images.yaml
Due: none

Update bundle Dockerfile to update operator-images in CSV at build time.
  .konflux/olm-catalog/bundle/Dockerfile
  .konflux/rpms/artifacts.lock.yaml
  .tekton/operator-next-bundle-pull-request.yaml
Due: operator-main-bundle-on-pull-request

Add cancel-in-progress for bundle and index pipelines
  .tekton/operator-main-bundle-pull-request.yaml
  .tekton/operator-main-bundle-push.yaml
  .tekton/operator-main-index-4-15-pull-request.yaml
  .tekton/operator-main-index-4-15-push.yaml
  .tekton/operator-main-index-4-16-pull-request.yaml
  .tekton/operator-main-index-4-16-push.yaml
  .tekton/operator-main-index-4-17-pull-request.yaml
  .tekton/operator-main-index-4-17-push.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push

TEST - build all platforms on PR
  .tekton/operator-next-bundle-pull-request.yaml
Due: none

Add prefetch-input for yq on push PipelineRuns
  .konflux/olm-catalog/bundle/Dockerfile
  .konflux/prefetch/artifacts.lock.yaml
  .tekton/operator-next-bundle-push.yaml
Due: operator-main-bundle-on-pull-request

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-operator.yaml
  .konflux/1.18/component-proxy.yaml
  .konflux/1.18/component-webhook.yaml
  .konflux/1.18/image-operator.yaml
  .konflux/1.18/image-proxy.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/tests-on-push.yaml
  .konflux/1.18/tests.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
  .konflux/main/application.yaml
  .konflux/main/component-operator.yaml
  .konflux/main/component-proxy.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/image-operator.yaml
  .konflux/main/image-proxy.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/tests-on-push.yaml
  .konflux/main/tests.yaml
  .konflux/next/application.yaml
  .konflux/next/component-operator.yaml
  .konflux/next/component-proxy.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-operator.yaml
  .konflux/next/image-proxy.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/tests-on-push.yaml
  .konflux/next/tests.yaml
  .tekton/operator-1-18-operator-pull-request.yaml
  .tekton/operator-1-18-operator-push.yaml
  .tekton/operator-1-18-proxy-pull-request.yaml
  .tekton/operator-1-18-proxy-push.yaml
  .tekton/operator-1-18-webhook-pull-request.yaml
  .tekton/operator-1-18-webhook-push.yaml
Due: none

Red Hat Konflux update operator-1-18-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-operator-pull-request.yaml
  .tekton/operator-1-18-operator-push.yaml
Due: none

Red Hat Konflux update operator-1-18-proxy Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-proxy-pull-request.yaml
  .tekton/operator-1-18-proxy-push.yaml
Due: none

Red Hat Konflux update operator-1-18-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-webhook-pull-request.yaml
  .tekton/operator-1-18-webhook-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/operator-update-images.yaml
  .tekton/operator-1-18-operator-pull-request.yaml
  .tekton/operator-1-18-operator-push.yaml
  .tekton/operator-1-18-proxy-pull-request.yaml
  .tekton/operator-1-18-proxy-push.yaml
  .tekton/operator-1-18-webhook-pull-request.yaml
  .tekton/operator-1-18-webhook-push.yaml
Due: none

Update project.yaml to point 1.18
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/prefetch/artifacts.lock.yaml
  .konflux/prefetch/ubi.repo
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
  project.yaml
Due: operator-main-bundle-on-pull-request

Update tekton yaml files to point to 1.18 instead of next
  .tekton/operator-1-18-bundle-pull-request.yaml
  .tekton/operator-1-18-bundle-push.yaml
  .tekton/operator-1-18-index-4-15-pull-request.yaml
  .tekton/operator-1-18-index-4-15-push.yaml
  .tekton/operator-1-18-index-4-16-pull-request.yaml
  .tekton/operator-1-18-index-4-16-push.yaml
  .tekton/operator-1-18-index-4-17-pull-request.yaml
  .tekton/operator-1-18-index-4-17-push.yaml
Due: none

update pathchange from docker-build.yaml to docker-build-ta.yaml
  .tekton/operator-next-bundle-pull-request.yaml
  .tekton/operator-next-bundle-push.yaml
Due: none

[bot:main] update konflux configuration
  .konflux/1.18/tests.yaml
  .konflux/main/tests.yaml
  .konflux/next/tests.yaml
Due: none

update bundle yaml to use correct prefetch-input
  .tekton/operator-1-18-bundle-pull-request.yaml
  .tekton/operator-1-18-bundle-push.yaml
Due: none

Red Hat Konflux update operator-1-18-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-bundle-pull-request.yaml
  .tekton/operator-1-18-bundle-push.yaml
Due: none

Red Hat Konflux update operator-1-18-index-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-index-4-15-pull-request.yaml
  .tekton/operator-1-18-index-4-15-push.yaml
Due: none

Red Hat Konflux update operator-1-18-index-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-index-4-16-pull-request.yaml
  .tekton/operator-1-18-index-4-16-push.yaml
Due: none

Red Hat Konflux update operator-1-18-index-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-index-4-17-pull-request.yaml
  .tekton/operator-1-18-index-4-17-push.yaml
Due: none

Add component, ImageRepository and IntegrationTestScenario for bundle and index images
  .konflux/1.18/component-bundle.yaml
  .konflux/1.18/component-index-4.15.yaml
  .konflux/1.18/component-index-4.16.yaml
  .konflux/1.18/component-index-4.17.yaml
  .konflux/1.18/image-bundle.yaml
  .konflux/1.18/image-index-4.15.yaml
  .konflux/1.18/image-index-4.16.yaml
  .konflux/1.18/image-index-4.17.yaml
  .konflux/1.18/tests-index-4-15.yaml
  .konflux/1.18/tests-index-4-16.yaml
  .konflux/1.18/tests-index-4-17.yaml
Due: none

update dockerfile for bundle
  .konflux/olm-catalog/bundle/Dockerfile
  .konflux/olm-catalog/index/v4.15/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
Due: operator-main-bundle-on-pull-request
