Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:{{revision}}
  - name: dockerfile
    value: openshift/olm-catalog/bundle/Dockerfile
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/webhook:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/webhook.Dockerfile
  ...

operator-next-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-next-index-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.16:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  ...

operator-next-index-4-17-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Red Hat Konflux kflux-prd-rh02 update operator-next-index-4-16 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-next-index-4-16-pull-request.yaml
  .tekton/operator-next-index-4-16-push.yaml
Due: operator-next-index-4-16-on-push

Red Hat Konflux kflux-prd-rh02 update operator-next-index-4-17 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-next-index-4-17-pull-request.yaml
  .tekton/operator-next-index-4-17-push.yaml
Due: operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

Red Hat Konflux kflux-prd-rh02 update operator-next-index-4-18 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-next-index-4-18-pull-request.yaml
  .tekton/operator-next-index-4-18-push.yaml
Due: none

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:next] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:next] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:next] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-16-on-push

[bot:next] update konflux configuration
  .tekton/operator-next-operator-pull-request.yaml
  .tekton/operator-next-operator-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/operator-1-15-bundle-pull-request.yaml
  .tekton/operator-1-15-bundle-push.yaml
  .tekton/operator-1-15-operator-pull-request.yaml
  .tekton/operator-1-15-operator-push.yaml
  .tekton/operator-1-15-proxy-pull-request.yaml
  .tekton/operator-1-15-proxy-push.yaml
  .tekton/operator-1-15-webhook-pull-request.yaml
  .tekton/operator-1-15-webhook-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/operator-next-bundle-push.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.18.x] update konflux configuration
  .tekton/operator-1-18-bundle-push.yaml
Due: none

Update image references for index images
  .konflux/next/component-index-4.15.yaml
  .konflux/next/component-index-4.16.yaml
  .konflux/next/component-index-4.17.yaml
  .konflux/next/component-index-4.18.yaml
  .konflux/next/image-index-4.15.yaml
  .konflux/next/image-index-4.16.yaml
  .konflux/next/image-index-4.17.yaml
  .konflux/next/image-index-4.18.yaml
  .konflux/next/tests-index-4-15.yaml
  .konflux/next/tests-index-4-16.yaml
  .konflux/next/tests-index-4-17.yaml
  .konflux/next/tests-index-4-18.yaml
  .tekton/operator-next-index-4-15-pull-request.yaml
  .tekton/operator-next-index-4-15-push.yaml
  .tekton/operator-next-index-4-16-pull-request.yaml
  .tekton/operator-next-index-4-16-push.yaml
  .tekton/operator-next-index-4-17-pull-request.yaml
  .tekton/operator-next-index-4-17-push.yaml
  .tekton/operator-next-index-4-18-pull-request.yaml
  .tekton/operator-next-index-4-18-push.yaml
Due: operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

Generate Single Commit for All Index Catalogs
  .github/workflows/index-render-template.yaml
Due: none

Update github workflow to generate single PR for all catalogs
  .github/workflows/index-render-template.yaml
Due: none

[bot:main] Update catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:main] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.15.x] update konflux configuration
  .tekton/operator--bundle-pull-request.yaml
  .tekton/operator--bundle-push.yaml
  .tekton/operator--operator-pull-request.yaml
  .tekton/operator--operator-push.yaml
  .tekton/operator--proxy-pull-request.yaml
  .tekton/operator--proxy-push.yaml
  .tekton/operator--webhook-pull-request.yaml
  .tekton/operator--webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-main-index Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-index-pull-request.yaml
  .tekton/operator-main-index-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge operator-main-operator Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
Due: operator-main-operator-on-pull-request

Red Hat Konflux kflux-prd-rh02 purge operator-main-proxy Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge operator-main-bundle Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-bundle-pull-request.yaml
  .tekton/operator-main-bundle-push.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push

Red Hat Konflux kflux-prd-rh02 purge operator-main-index-4-18 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-index-4-18-pull-request.yaml
  .tekton/operator-main-index-4-18-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge operator-main-webhook Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-webhook-pull-request.yaml
  .tekton/operator-main-webhook-push.yaml
Due: operator-main-webhook-on-push

Red Hat Konflux kflux-prd-rh02 update operator-main-index-4-18 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-index-4-18-pull-request.yaml
  .tekton/operator-main-index-4-18-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-main-operator Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
Due: operator-main-operator-on-pull-request

Red Hat Konflux kflux-prd-rh02 update operator-main-proxy Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
Due: none

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
