Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: ((((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/operator-next-operator-pull-request.yaml
  .konflux/tekton/next/.tekton/operator-next-operator-push.yaml
  .konflux/tekton/next/.tekton/operator-next-proxy-pull-request.yaml
  .konflux/tekton/next/.tekton/operator-next-proxy-push.yaml
  .konflux/tekton/next/.tekton/operator-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/operator-next-webhook-push.yaml
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
  .tekton/operator-main-webhook-pull-request.yaml
  .tekton/operator-main-webhook-push.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot:main] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot] Update main from tektoncd/operator to 1b52d3353beae373860404192aaf3e4353de34fe
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/.github/workflows/bump-payload-on-main.yaml
  upstream/.github/workflows/bump-payload-on-releases.yaml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/helm-release.yaml
  upstream/.gitignore
  upstream/Makefile
  upstream/components.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/operatorhub/tools/bundle.py
  upstream/pkg/reconciler/common/common.go
  upstream/pkg/reconciler/common/deadlockbreaker.go
  upstream/pkg/reconciler/kubernetes/tektoninstallerset/client/main_set.go
  upstream/pkg/reconciler/platform/config.go
  upstream/pkg/reconciler/shared/tektonconfig/upgrade/pre_upgrade.go
  upstream/pkg/reconciler/shared/tektonconfig/upgrade/pre_upgrade_test.go
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/test/presubmit-tests.sh
  upstream/vendor/golang.org/x/net/http2/client_conn_pool.go
  upstream/vendor/golang.org/x/net/http2/config.go
  upstream/vendor/golang.org/x/net/http2/config_go124.go
  upstream/vendor/golang.org/x/net/http2/config_pre_go124.go
  upstream/vendor/golang.org/x/net/http2/frame.go
  upstream/vendor/golang.org/x/net/http2/http2.go
  upstream/vendor/golang.org/x/net/http2/server.go
  upstream/vendor/golang.org/x/net/http2/transport.go
  upstream/vendor/golang.org/x/net/http2/unencrypted.go
  upstream/vendor/golang.org/x/net/http2/write.go
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

.tekton: remove JAVA_COMMUNITY_DEPENDENCIES from results
  .tekton/docker-build-ta.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot:main] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.release-v1.17.x.yaml
  .konflux/release-v1.17.x/application.yaml
  .konflux/release-v1.17.x/component-operator.yaml
  .konflux/release-v1.17.x/component-proxy.yaml
  .konflux/release-v1.17.x/component-webhook.yaml
  .konflux/release-v1.17.x/image-operator.yaml
  .konflux/release-v1.17.x/image-proxy.yaml
  .konflux/release-v1.17.x/image-webhook.yaml
  .konflux/release-v1.17.x/tests.yaml
  .konflux/tekton/next/.tekton/operator-next-operator-pull-request.yaml
  .konflux/tekton/next/.tekton/operator-next-operator-push.yaml
  .konflux/tekton/next/.tekton/operator-next-proxy-pull-request.yaml
  .konflux/tekton/next/.tekton/operator-next-proxy-push.yaml
  .konflux/tekton/next/.tekton/operator-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/operator-next-webhook-push.yaml
  .tekton/operator-main-operator-pull-request.yaml
  .tekton/operator-main-operator-push.yaml
  .tekton/operator-main-proxy-pull-request.yaml
  .tekton/operator-main-proxy-push.yaml
  .tekton/operator-main-webhook-pull-request.yaml
  .tekton/operator-main-webhook-push.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.release-v1.17.x.yaml
  .tekton/operator-next-operator-pull-request.yaml
  .tekton/operator-next-operator-push.yaml
  .tekton/operator-next-proxy-pull-request.yaml
  .tekton/operator-next-proxy-push.yaml
  .tekton/operator-next-webhook-pull-request.yaml
  .tekton/operator-next-webhook-push.yaml
Due: none

[bot] Update main from tektoncd/operator to f547f0924df772c81e7960959615deec57e1798d
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/components.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/pkg/reconciler/common/utils.go
  upstream/pkg/reconciler/common/utils_test.go
  upstream/pkg/reconciler/openshift/tektonconfig/extension.go
  upstream/pkg/reconciler/openshift/tektonconfig/rbac.go
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update next from tektoncd/operator to f547f0924df772c81e7960959615deec57e1798d
  .konflux/olm-catalog/bundle/kodata/manual-approval-gate/0.4.1/release-openshift.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/components.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/pkg/reconciler/common/utils.go
  upstream/pkg/reconciler/common/utils_test.go
  upstream/pkg/reconciler/openshift/tektonconfig/extension.go
  upstream/pkg/reconciler/openshift/tektonconfig/rbac.go
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

Add e2e test run for chains
  .konflux/tekton/bundle-e2e-pipeline.yaml
Due: none

Add environment variables for chains e2e
  .konflux/tekton/bundle-e2e-pipeline.yaml
Due: none

Add e2e for manualapprovalgate
  .konflux/tekton/bundle-e2e-pipeline.yaml
Due: none

.konflux/dockerfiles: update to go 1.23…
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

use images from openshift-pipeline namespace for release versions
  hack/operator-update-images.sh
Due: none

Update clusterserviceversion.yaml rebase
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request

Update docker-build-ta.yaml
  .tekton/docker-build-ta.yaml
Due: operator-main-operator-on-pull-request, operator-main-webhook-on-push

Fix key/value mapping for pac component
  project.yaml
Due: operator-main-bundle-on-pull-request

Fix key/value mapping for pac component
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-pull-request

Revert "chore(deps): update tektoncd-cli-next-tkn to eadd343"
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-pull-request

use images from openshift-pipeline namespace for release versions
  .konflux/olm-catalog/bundle/Dockerfile
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  hack/operator-update-images.sh
Due: operator-main-bundle-on-pull-request

[bot] Update main from tektoncd/operator to 4e323f9a0bf093b2ab7454773198b672ed477085
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-buildah/task-buildah-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-dotnet/task-s2i-dotnet-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-go/task-s2i-go-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-java/task-s2i-java-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-nodejs/task-s2i-nodejs-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-perl/task-s2i-perl-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-php/task-s2i-php-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-python/task-s2i-python-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-ruby/task-s2i-ruby-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/nightly/release.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/helm-release.yaml
  upstream/.ko.yaml
  upstream/charts/tekton-operator/templates/_helpers.tpl
  upstream/charts/tekton-operator/values.yaml
  upstream/components.yaml
  upstream/config/kubernetes/base/operator.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/kubernetes/config.yaml
  upstream/operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/pkg/reconciler/common/common.go
  upstream/pkg/reconciler/common/targetnamespace.go
  upstream/pkg/reconciler/common/targetnamespace_test.go
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/test/e2e-common.sh
  upstream/test/e2e/common/05_tektonhubdeployment_test.go
  upstream/test/resources/deployment.go
  upstream/test/resources/pod.go
  upstream/test/resources/tektonconfigs.go
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push

[bot] Update next from tektoncd/operator to 4e323f9a0bf093b2ab7454773198b672ed477085
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-buildah/task-buildah-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-dotnet/task-s2i-dotnet-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-go/task-s2i-go-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-java/task-s2i-java-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-nodejs/task-s2i-nodejs-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-perl/task-s2i-perl-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-php/task-s2i-php-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-python/task-s2i-python-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/addons/06-ecosystem/tasks/task-s2i-ruby/task-s2i-ruby-task.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/v0.32.0/release.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.23.1/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-results/0.13.3/00-results.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/helm-release.yaml
  upstream/.ko.yaml
  upstream/charts/tekton-operator/templates/_helpers.tpl
  upstream/charts/tekton-operator/values.yaml
  upstream/components.yaml
  upstream/config/kubernetes/base/operator.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/kubernetes/config.yaml
  upstream/operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/pkg/reconciler/common/common.go
  upstream/pkg/reconciler/common/targetnamespace.go
  upstream/pkg/reconciler/common/targetnamespace_test.go
  upstream/tekton/build-publish-images-manifests.yaml
  upstream/tekton/operator-release-pipeline.yaml
  upstream/test/e2e-common.sh
  upstream/test/e2e/common/05_tektonhubdeployment_test.go
  upstream/test/resources/deployment.go
  upstream/test/resources/pod.go
  upstream/test/resources/tektonconfigs.go
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push
