Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4.17-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:{{revision}}
  - name: dockerfile
    value: openshift/olm-catalog/bundle/Dockerfile
  ...

operator-main-index-4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/index-4.17:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/webhook:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/webhook.Dockerfile
  ...

operator-next-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-next-index-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.16:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  ...

[bot:release-v1.17.x] update konflux configuration
  .tekton/operator-1-17-index-4.14-pull-request.yaml
  .tekton/operator-1-17-index-4.14-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/operator-1-17-index-4.15-pull-request.yaml
  .tekton/operator-1-17-index-4.15-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/operator-1-17-index-4.16-pull-request.yaml
  .tekton/operator-1-17-index-4.16-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/operator-1-17-index-4.17-pull-request.yaml
  .tekton/operator-1-17-index-4.17-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/operator-1-17-index-4.18-pull-request.yaml
  .tekton/operator-1-17-index-4.18-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-17-bundle Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-17-bundle-pull-request.yaml
  .tekton/operator-1-17-bundle-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-17-proxy Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-17-proxy-pull-request.yaml
  .tekton/operator-1-17-proxy-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-17-operator Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-17-operator-pull-request.yaml
  .tekton/operator-1-17-operator-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-17-webhook Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-17-webhook-pull-request.yaml
  .tekton/operator-1-17-webhook-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/operator-1-17-bundle-pull-request.yaml
  .tekton/operator-1-17-bundle-push.yaml
  .tekton/operator-1-17-operator-pull-request.yaml
  .tekton/operator-1-17-operator-push.yaml
  .tekton/operator-1-17-proxy-pull-request.yaml
  .tekton/operator-1-17-proxy-push.yaml
  .tekton/operator-1-17-webhook-pull-request.yaml
  .tekton/operator-1-17-webhook-push.yaml
Due: none

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.15.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot] Update next from tektoncd/operator to 39c6bb63ead1b56c83ff8dddba9d0c8ffc36ec86
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/api/api.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/db-migration/db-migration.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/db/db.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/hub-info/hub-info.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/ui/ui.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/components.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

[bot:release-v1.15.x] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:release-v1.15.x] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push

[bot:release-v1.15.x] Update v4.14 generate catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push

[bot:release-v1.15.x] Update v4.12 generate catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push

[bot:release-v1.15.x] Update v4.13 generate catalog
  .konflux/olm-catalog/index/v4.13/catalog-template.json
  .konflux/olm-catalog/index/v4.13/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push

[bot:release-v1.15.x] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push

[bot:release-v1.15.x] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push, operator-next-index-4-16-on-push

Rebuild index images
  .konflux/olm-catalog/index/v4.12/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.13/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.14/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.15/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.18/Dockerfile.catalog
Due: operator-main-index-4.17-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.17.x.yaml
Due: none

[bot:next] Update catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4.17-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot] Update release-v1.18.x from tektoncd/operator to f7eb1715ffcc7e90fcc678cf08c3fe8ebfe93b36
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/api/api.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/db-migration/db-migration.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/db/db.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/hub-info/hub-info.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.20.1/ui/ui.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/components.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/config/openshift/base/webhook.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

Update project, dockerfile and index-render-template files
  .konflux/olm-catalog/bundle/Dockerfile
  hack/index-render-template.sh
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Red Hat Konflux kflux-prd-rh02 purge operator-1-18-bundle Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-bundle-pull-request.yaml
  .tekton/operator-1-18-bundle-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge operator-1-18-operator Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-operator-pull-request.yaml
  .tekton/operator-1-18-operator-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge operator-1-18-proxy Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-18-proxy-pull-request.yaml
  .tekton/operator-1-18-proxy-push.yaml
Due: none

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
