Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-push, operator-next-index-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:{{revision}}
  - name: dockerfile
    value: openshift/olm-catalog/bundle/Dockerfile
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/webhook:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/webhook.Dockerfile
  ...

operator-next-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-next-index-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.16:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  ...

operator-next-index-4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-next/index-4.17:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

[bot:1.18] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-push

[bot:1.18] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:1.18] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-16-on-push

update catalog-template.json as per the channels available in ocp base images
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
Due: operator-next-index-4-17-on-push

[bot:1.18] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-17-on-push

[bot:1.18] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

[bot:1.18] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-next-index-4-16-on-push

[bot:1.18] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: none

docs: Fix broken links
  README.md
Due: none

[bot] Update main from tektoncd/operator to f64ce28ed154d34b142e6bc79295ccb00608d4d3
  .konflux/olm-catalog/bundle/kodata/static/tekton-results/internal-db/db.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/nightly/release.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/charts/tekton-operator/templates/_helpers.tpl
  upstream/cmd/openshift/operator/kodata/static/tekton-results/internal-db/db.yaml
  upstream/components.yaml
  upstream/config/openshift/base/operator.yaml
  upstream/hack/openshift/update-image-sha.sh
  upstream/operatorhub/openshift/config.yaml
  upstream/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-operator-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request

Update fbc-build.yaml
  .tekton/fbc-build.yaml
Due: operator-next-index-4-17-on-push, operator-next-index-on-push

[bot:next] update konflux configuration
  .tekton/operator-next-bundle-push.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.18.x] update konflux configuration
  .tekton/operator-1-18-bundle-push.yaml
Due: none

Update jq query to update bundle image from project yaml to catalog-template.json
  .github/workflows/index-render-template-1-18.yaml
Due: none

Add 1.18.0 version to latest channel
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
Due: operator-next-index-4-17-on-push

update image for IMAGE_ADDONS_TKN_CLI_SERVE
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-push

Update operator-1-18-index-4-18-push.yaml
  .tekton/operator-1-18-index-4-18-push.yaml
Due: none

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-next-bundle-on-pull-request

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
