Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request

[bot:release-v1.17.x] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:release-v1.17.x] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.17.x] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.17.x] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push

[bot:release-v1.17.x] Update v4.14 generate catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.17.x] Update v4.12 generate catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

Update dockerfile
  .konflux/olm-catalog/index/v4.12/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.14/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.15/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.16/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.18/Dockerfile.catalog
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

Update dockerfile, index files
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/next/application.yaml
  .konflux/next/component-bundle.yaml
  .konflux/next/component-index-4.15.yaml
  .konflux/next/component-index-4.16.yaml
  .konflux/next/component-index-4.17.yaml
  .konflux/next/component-index-4.18.yaml
  .konflux/next/component-operator.yaml
  .konflux/next/component-proxy.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-bundle.yaml
  .konflux/next/image-index-4.15.yaml
  .konflux/next/image-index-4.16.yaml
  .konflux/next/image-index-4.17.yaml
  .konflux/next/image-index-4.18.yaml
  .konflux/next/image-operator.yaml
  .konflux/next/image-proxy.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/tests-index-4-15.yaml
  .konflux/next/tests-index-4-16.yaml
  .konflux/next/tests-index-4-17.yaml
  .konflux/next/tests-index-4-18.yaml
  .konflux/next/tests.yaml
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-proxy-on-pull-request, operator-next-index-4-17-on-push

[bot] Update release-v1.19.x from tektoncd/operator to e5fd95390dba6fb5c2faf6b6b90d5c3956953ccf
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

[bot:release-v1.19.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

[bot:release-v1.19.x] Update catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:next] Update catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

Remove Pavol from OWNERS file
  OWNERS
Due: none

[bot:release-v1.17.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request
