Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-push: ((((((any of: .tekton/operator-main-bundle-push.yaml) or (any of: .tekton/operator-main-bundle-pull-request.yaml)) or (any of: image-mapping.yaml)) or (any of: openshift/olm-catalog/bundle/Dockerfile)) or (any of: openshift/olm-catalog/bundle/metadata/***)) or (any of: openshift/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

chore(deps): update tektoncd-pipeline-main-entrypoint to 431f336
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-workingdirinit to 5e08a39
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-cli-main-tkn to 40a0c14
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-triggers-main-core-interceptors to e5059ad
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-triggers-main-controller to 0cce0ab
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-resolvers to 6a8d544
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-nop to ff135db
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-events to e578789
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-webhook to 6cefacb
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-controller to 1462522
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

index: update konflux configuration… and…
  .konflux/main/component-bundle.yaml
  .konflux/main/component-index.yaml
  .konflux/main/image-index.yaml
  nightly-bundle.yaml
  openshift/olm-catalog/index/Dockerfile
  openshift/olm-catalog/index/configs.sample/1.14.0.yaml
  openshift/olm-catalog/index/configs.sample/1.14.4.yaml
  openshift/olm-catalog/index/configs.sample/1.14.5.yaml
  openshift/olm-catalog/index/configs.sample/1.15.0.yaml
  openshift/olm-catalog/index/configs.sample/1.15.2.yaml
  openshift/olm-catalog/index/configs.sample/1.16.0.yaml
  openshift/olm-catalog/index/configs.sample/index.yaml
  openshift/olm-catalog/index/configs/index.yaml
Due: none

[bot] Update from tektoncd/operator to 57b7385218da8f773fa9ebb6d48c1ac810435473
  head
  openshift/olm-catalog/bundle/kodata/tekton-pipeline/0.65.0/00-pipelines.yaml
  openshift/olm-catalog/bundle/kodata/tekton-pipeline/0.65.0/01-clusterrole.yaml
  openshift/olm-catalog/bundle/kodata/tekton-pipeline/0.65.0/02-rolebinding.yaml
  openshift/olm-catalog/bundle/kodata/tekton-pipeline/0.65.0/03-clustertasks-view-permission.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  upstream/components.yaml
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
Due: operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-webhook-on-push

Red Hat Konflux update operator-main-index Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-index-pull-request.yaml
  .tekton/operator-main-index-push.yaml
Due: none

index: fix components…
  .konflux/main/component-bundle.yaml
  .konflux/main/component-index.yaml
Due: none

index: update pipelines, component and stuff
  .konflux/main/component-index.yaml
  .tekton/fbc-build.yaml
  .tekton/openshift-pipelines-index-pull-request.yaml
  .tekton/openshift-pipelines-index-push.yaml
  .tekton/operator-main-index-pull-request.yaml
  .tekton/operator-main-index-push.yaml
Due: none

Fix Dockerfile path
  .tekton/operator-main-index-pull-request.yaml
  .tekton/operator-main-index-push.yaml
Due: none

Testing pull-requests
  .tekton/operator-main-index-pull-request.yaml
  .tekton/operator-main-index-push.yaml
Due: none

chore(deps): update operator-main-proxy to 7034039
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update operator-main-webhook to 4f4074f
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update operator-main-operator to 3e92b78
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-cli-main-tkn to d1c57a2
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

fbc-build: hermetic default to false…
  .tekton/fbc-build.yaml
Due: none

chore(deps): update tektoncd-triggers-main-controller to 7ea7bb1
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-workingdirinit to 1679049
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-events to 6d19a40
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-triggers-main-core-interceptors to 611214f
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-resolvers to b3cf637
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-entrypoint to 109176c
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-triggers-main-webhook to cb9f68a
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-nop to 0aa9573
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-pipeline-main-controller to ede7608
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push

chore(deps): update tektoncd-triggers-main-eventlistenersink to 3159fa9
  nightly-bundle.yaml
  openshift/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  project.yaml
Due: operator-main-bundle-on-push
