Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-next-bundle-on-pull-request: ((((((((any of: .tekton/operator-next-bundle-push.yaml) or (any of: .tekton/operator-next-bundle-pull-request.yaml)) or (any of: project.yaml)) or (any of: .konflux/patches/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .konflux/olm-catalog/bundle/kodata/***)) or (any of: .konflux/olm-catalog/bundle/metadata/***)) or (any of: .konflux/olm-catalog/bundle/manifests/***)) or (any of: .tekton/docker-build.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)

Update project yaml and dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/olm-catalog/bundle/Dockerfile
  .tekton/operator-1-15-bundle-pull-request.yaml
  .tekton/operator-1-15-bundle-push.yaml
  .tekton/operator-1-15-index-4-12-pull-request.yaml
  .tekton/operator-1-15-index-4-12-push.yaml
  .tekton/operator-1-15-index-4-14-pull-request.yaml
  .tekton/operator-1-15-index-4-14-push.yaml
  .tekton/operator-1-15-index-4-15-pull-request.yaml
  .tekton/operator-1-15-index-4-15-push.yaml
  .tekton/operator-1-15-index-4-16-pull-request.yaml
  .tekton/operator-1-15-index-4-16-push.yaml
  .tekton/operator-1-15-index-4-17-pull-request.yaml
  .tekton/operator-1-15-index-4-17-push.yaml
  .tekton/operator-1-15-index-4-18-pull-request.yaml
  .tekton/operator-1-15-index-4-18-push.yaml
  .tekton/operator-1-15-operator-pull-request.yaml
  .tekton/operator-1-15-operator-push.yaml
  .tekton/operator-1-15-proxy-pull-request.yaml
  .tekton/operator-1-15-proxy-push.yaml
  .tekton/operator-1-15-webhook-pull-request.yaml
  .tekton/operator-1-15-webhook-push.yaml
  hack/index-render-template.sh
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-proxy-on-pull-request, operator-next-bundle-on-pull-request

[bot] Update main from tektoncd-pb/operator to da083ce7f149b485d86dc097b67bdf6ec4ae47c5
  .konflux/olm-catalog/bundle/kodata/tekton-chains/0.0.0-nightly/00-chains.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-pipeline/0.0.0-nightly/00-pipelines.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/00-triggers.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-trigger/0.0.0-nightly/01-interceptors.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

[bot:main] Update catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.13/catalog-template.json
  .konflux/olm-catalog/index/v4.13/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

Update project.yaml
  project.yaml
Due: operator-next-bundle-on-pull-request

Red Hat Konflux kflux-prd-rh02 update operator-1-16-bundle Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-bundle-pull-request.yaml
  .tekton/operator-1-16-bundle-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-operator Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-operator-pull-request.yaml
  .tekton/operator-1-16-operator-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-proxy Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-proxy-pull-request.yaml
  .tekton/operator-1-16-proxy-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-webhook Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-webhook-pull-request.yaml
  .tekton/operator-1-16-webhook-push.yaml
Due: none

Create .placeholder
  .konflux/patches/.placeholder
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-proxy-on-pull-request, operator-next-bundle-on-pull-request

Red Hat Konflux kflux-prd-rh02 update operator-1-16-index-4-12 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-index-4-12-pull-request.yaml
  .tekton/operator-1-16-index-4-12-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-index-4-14 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-index-4-14-pull-request.yaml
  .tekton/operator-1-16-index-4-14-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-index-4-15 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-index-4-15-pull-request.yaml
  .tekton/operator-1-16-index-4-15-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-index-4-16 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-index-4-16-pull-request.yaml
  .tekton/operator-1-16-index-4-16-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-index-4-17 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-index-4-17-pull-request.yaml
  .tekton/operator-1-16-index-4-17-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-16-index-4-18 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-1-16-index-4-18-pull-request.yaml
  .tekton/operator-1-16-index-4-18-push.yaml
Due: none

[bot:release-v1.16.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-next-bundle-on-pull-request

[bot:release-v1.16.x] Update v4.18 generate catalog
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.16.x] Update v4.17 generate catalog
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push

[bot:release-v1.16.x] Update v4.14 generate catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.16.x] Update v4.16 generate catalog
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push

[bot:release-v1.16.x] Update v4.12 generate catalog
  .konflux/olm-catalog/index/v4.12/catalog-template.json
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.16.x] Update v4.15 generate catalog
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push

[bot:release-v1.16.x] update konflux configuration
  .tekton/operator-1-16-index-4.12-pull-request.yaml
  .tekton/operator-1-16-index-4.12-push.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/operator-1-16-index-4.14-pull-request.yaml
  .tekton/operator-1-16-index-4.14-push.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/operator-1-16-index-4.15-pull-request.yaml
  .tekton/operator-1-16-index-4.15-push.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/operator-1-16-index-4.16-pull-request.yaml
  .tekton/operator-1-16-index-4.16-push.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/operator-1-16-index-4.17-pull-request.yaml
  .tekton/operator-1-16-index-4.17-push.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/operator-1-16-index-4.18-pull-request.yaml
  .tekton/operator-1-16-index-4.18-push.yaml
Due: none
