Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request, operator-next-index-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

openshift-pipelines-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/openshift-pipelines-operator/openshift-pipelines-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

operator-main-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/operator-bundle-rhel9:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/bundle/Dockerfile
  ...

operator-main-index-4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/operator-index-4-17-rhel9:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

operator-main-index-4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/index-4.17:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  ...

operator-main-index-4.18-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/index-4.18:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog
  pipelineRef:
  ...

operator-main-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/operator-main/operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-main-proxy-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/operator-proxy-rhel9:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Red Hat Konflux kflux-prd-rh02 update operator-1-18-index-4-19
  .tekton/operator-1-18-index-4-19-pull-request.yaml
  .tekton/operator-1-18-index-4-19-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-18-index-4-20
  .tekton/operator-1-18-index-4-20-pull-request.yaml
  .tekton/operator-1-18-index-4-20-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-18-index-4-21
  .tekton/operator-1-18-index-4-21-pull-request.yaml
  .tekton/operator-1-18-index-4-21-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-18-index-4-22
  .tekton/operator-1-18-index-4-22-pull-request.yaml
  .tekton/operator-1-18-index-4-22-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update operator-1-18-index-4-18
  .tekton/operator-1-18-index-4-18-pull-request.yaml
  .tekton/operator-1-18-index-4-18-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/bundle.Dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/operator-1-18-bundle-pull-request.yaml
  .tekton/operator-1-18-bundle-push.yaml
  .tekton/operator-1-18-operator-pull-request.yaml
  .tekton/operator-1-18-operator-push.yaml
  .tekton/operator-1-18-proxy-pull-request.yaml
  .tekton/operator-1-18-proxy-push.yaml
  .tekton/operator-1-18-webhook-pull-request.yaml
  .tekton/operator-1-18-webhook-push.yaml
Due: operator-main-proxy-on-pull-request, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.18.x] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .konflux/dockerfiles/index-4.16.Dockerfile
  .konflux/dockerfiles/index-4.17.Dockerfile
  .konflux/dockerfiles/index-4.18.Dockerfile
  .konflux/dockerfiles/index-4.19.Dockerfile
  .konflux/dockerfiles/index-4.20.Dockerfile
  .konflux/dockerfiles/index-4.21.Dockerfile
  .konflux/dockerfiles/index-4.22.Dockerfile
  .tekton/operator-1-18-index-4.14-pull-request.yaml
  .tekton/operator-1-18-index-4.14-push.yaml
  .tekton/operator-1-18-index-4.16-pull-request.yaml
  .tekton/operator-1-18-index-4.16-push.yaml
  .tekton/operator-1-18-index-4.17-pull-request.yaml
  .tekton/operator-1-18-index-4.17-push.yaml
  .tekton/operator-1-18-index-4.18-pull-request.yaml
  .tekton/operator-1-18-index-4.18-push.yaml
  .tekton/operator-1-18-index-4.19-pull-request.yaml
  .tekton/operator-1-18-index-4.19-push.yaml
  .tekton/operator-1-18-index-4.20-pull-request.yaml
  .tekton/operator-1-18-index-4.20-push.yaml
  .tekton/operator-1-18-index-4.21-pull-request.yaml
  .tekton/operator-1-18-index-4.21-push.yaml
  .tekton/operator-1-18-index-4.22-pull-request.yaml
  .tekton/operator-1-18-index-4.22-push.yaml
Due: operator-next-index-4.20-on-pull-request

Add 1.20.3 Bundle in OLM catalog
  olm/config.yaml
Due: none

[bot:release-v1.22.x] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

[bot:release-v1.21.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.18.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot] Update release-v1.21.x from tektoncd/operator to a0d09604a68f1574d3ea3b083ac8b439b3bf46cf
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot] Update next from tektoncd/operator to fb4751ef8cb66f98107bb59ea2acceacc1ca2579
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_manualapprovalgates.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_multiclusterproxyaaes.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_openshiftpipelinesascodes.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_syncerservices.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonaddons.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonchains.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonconfigs.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonhubs.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektoninstallersets.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonmulticlusterproxyaaes.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonpipelines.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonpruners.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonresults.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektonschedulers.yaml
  .konflux/olm-catalog/bundle/manifests/operator.tekton.dev_tektontriggers.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator-webhook_v1_service.yaml
  .konflux/olm-catalog/bundle/manifests/tekton-operator_v1_service.yaml
  project.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.21.x] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
  olm/config.yaml
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

[bot:release-v1.20.x] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.15/catalog-template.json
  .konflux/olm-catalog/index/v4.15/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
  olm/config.yaml
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

[bot:next] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: operator-main-proxy-on-pull-request, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .konflux/dockerfiles/index-4.16.Dockerfile
  .konflux/dockerfiles/index-4.17.Dockerfile
  .konflux/dockerfiles/index-4.18.Dockerfile
  .konflux/dockerfiles/index-4.19.Dockerfile
  .konflux/dockerfiles/index-4.20.Dockerfile
  .konflux/dockerfiles/index-4.21.Dockerfile
  .konflux/dockerfiles/index-4.22.Dockerfile
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.18.x] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: operator-main-proxy-on-pull-request, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.18.x] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .konflux/dockerfiles/index-4.16.Dockerfile
  .konflux/dockerfiles/index-4.17.Dockerfile
  .konflux/dockerfiles/index-4.18.Dockerfile
  .konflux/dockerfiles/index-4.19.Dockerfile
  .konflux/dockerfiles/index-4.20.Dockerfile
  .konflux/dockerfiles/index-4.21.Dockerfile
  .konflux/dockerfiles/index-4.22.Dockerfile
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: operator-main-proxy-on-pull-request, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .konflux/dockerfiles/index-4.16.Dockerfile
  .konflux/dockerfiles/index-4.17.Dockerfile
  .konflux/dockerfiles/index-4.18.Dockerfile
  .konflux/dockerfiles/index-4.19.Dockerfile
  .konflux/dockerfiles/index-4.20.Dockerfile
  .konflux/dockerfiles/index-4.21.Dockerfile
  .konflux/dockerfiles/index-4.22.Dockerfile
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/bundle.Dockerfile
  .konflux/dockerfiles/operator.Dockerfile
  .konflux/dockerfiles/proxy.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: operator-main-proxy-on-pull-request, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/index-4.14.Dockerfile
  .konflux/dockerfiles/index-4.16.Dockerfile
  .konflux/dockerfiles/index-4.17.Dockerfile
  .konflux/dockerfiles/index-4.18.Dockerfile
  .konflux/dockerfiles/index-4.19.Dockerfile
  .konflux/dockerfiles/index-4.20.Dockerfile
  .konflux/dockerfiles/index-4.21.Dockerfile
  .konflux/dockerfiles/index-4.22.Dockerfile
Due: operator-next-index-4.20-on-pull-request

[bot:release-v1.22.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:next] Update catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.16/catalog-template.json
  .konflux/olm-catalog/index/v4.16/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.17/catalog-template.json
  .konflux/olm-catalog/index/v4.17/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.18/catalog-template.json
  .konflux/olm-catalog/index/v4.18/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.20/catalog-template.json
  .konflux/olm-catalog/index/v4.20/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.21/catalog-template.json
  .konflux/olm-catalog/index/v4.21/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.22/catalog-template.json
  .konflux/olm-catalog/index/v4.22/catalog/openshift-pipelines-operator-rh/catalog.json
  olm/config.yaml
Due: operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/*build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-multicluster-bundle-on-pull-request: ((any of: .konflux/olm-catalog/bundle/***) or (any of: .konflux/dockerfiles/bundle.Dockerfile)) or (any of: .tekton/operator-multicluster-bundle-pull-request.yaml)
  operator-multicluster-operator-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-multicluster-operator-push.yaml)
  operator-multicluster-proxy-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-multicluster-proxy-push.yaml)
  operator-next-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-next-bundle-pull-request.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-4.12-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.12/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.12-pull-request.yaml)
  operator-next-index-4.14-on-push: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.14/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.14-push.yaml)
  operator-next-index-4.15-on-push: (((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.15.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-index-4.15-push.yaml)
  operator-next-index-4.20-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.20.Dockerfile)) or (any of: .tekton/operator-next-index-4.20-pull-request.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-proxy-on-pull-request: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-next-proxy-pull-request.yaml)
  operator-next-proxy-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-proxy-push.yaml)
