Repository openshift-pipelines/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-pipelines-bundle-on-pull-request, operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-index-4-17-on-push, operator-main-index-4.17-on-push, operator-main-index-4.18-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-index-4-16-on-push, operator-next-index-4-17-on-pull-request, operator-next-index-4-17-on-push, operator-next-index-4.12-on-pull-request, operator-next-index-4.14-on-push, operator-next-index-4.15-on-push, operator-next-index-4.20-on-pull-request, operator-next-index-on-push, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

Path conditions:
  openshift-pipelines-bundle-on-pull-request: ((((any of: .tekton/openshift-pipelines-bundle-push.yaml) or (any of: .tekton/openshift-pipelines-bundle-pull-request.yaml)) or (any of: olm-catalog/openshift-pipelines/Dockerfile)) or (any of: olm-catalog/openshift-pipelines/metadata/***)) or (any of: olm-catalog/openshift-pipelines/manifests/***)
  operator-main-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-main-bundle-pull-request.yaml)
  operator-main-bundle-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-bundle-push.yaml)
  operator-main-index-4-17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4-17-push.yaml)
  operator-main-index-4.17-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-index-4.17-push.yaml)
  operator-main-index-4.18-on-push: ((((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/index/***)) or (any of: .konflux/olm-catalog/index/v4.18/Dockerfile.catalog)) or (any of: .tekton/*build-ta.yaml)) or (any of: .tekton/operator-main-index-4.18-push.yaml)
  operator-main-operator-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-main-operator-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-main-proxy-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/docker-build-ta.yaml)) or (any of: .tekton/operator-main-proxy-pull-request.yaml)
  operator-main-webhook-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/operator-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  operator-multicluster-bundle-on-pull-request: ((any of: .konflux/olm-catalog/bundle/***) or (any of: .konflux/dockerfiles/bundle.Dockerfile)) or (any of: .tekton/operator-multicluster-bundle-pull-request.yaml)
  operator-multicluster-operator-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/operator.Dockerfile)) or (any of: .tekton/operator-multicluster-operator-push.yaml)
  operator-multicluster-proxy-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-multicluster-proxy-push.yaml)
  operator-next-bundle-on-pull-request: (((any of: .konflux/patches/***) or (any of: .konflux/olm-catalog/bundle/***)) or (any of: .konflux/olm-catalog/bundle/Dockerfile)) or (any of: .tekton/operator-next-bundle-pull-request.yaml)
  operator-next-index-4-16-on-push: (((any of: .tekton/operator-next-index-4-16-push.yaml) or (any of: .tekton/operator-next-index-4-16-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.16/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.16/Dockerfile.catalog)
  operator-next-index-4-17-on-pull-request: ((any of: .tekton/operator-next-index-4-17-pull-request.yaml) or (any of: .konflux/olm-catalog/index/v4.17/catalog/***)) or (any of: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog)
  operator-next-index-4-17-on-push: (((any of: .tekton/operator-next-index-4-17-push.yaml) or (any of: .tekton/operator-next-index-4-17-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/v4.17/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-index-4.12-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.12/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.12-pull-request.yaml)
  operator-next-index-4.14-on-push: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/olm-catalog/index/v4.14/Dockerfile.catalog)) or (any of: .tekton/operator-next-index-4.14-push.yaml)
  operator-next-index-4.15-on-push: (((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.15.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-index-4.15-push.yaml)
  operator-next-index-4.20-on-pull-request: ((any of: .konflux/olm-catalog/index/***) or (any of: .konflux/dockerfiles/index-4.20.Dockerfile)) or (any of: .tekton/operator-next-index-4.20-pull-request.yaml)
  operator-next-index-on-push: ((((((any of: .tekton/operator-next-index-push.yaml) or (any of: .tekton/operator-next-index-pull-request.yaml)) or (any of: .konflux/olm-catalog/index/Dockerfile)) or (any of: .konflux/olm-catalog/index/kodata/***)) or (any of: .konflux/olm-catalog/index/metadata/***)) or (any of: .konflux/olm-catalog/index/manifests/***)) or (any of: .tekton/fbc-build.yaml)
  operator-next-proxy-on-pull-request: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/operator-next-proxy-pull-request.yaml)
  operator-next-proxy-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/proxy.Dockerfile)) or (any of: .tekton/*build*.yaml)) or (any of: .tekton/operator-next-proxy-push.yaml)

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.22.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot:release-v1.23.x] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

Red Hat Konflux kflux-prd-rh02 update operator-1-22-bundle
  .tekton/operator-1-22-bundle-pull-request.yaml
  .tekton/operator-1-22-bundle-push.yaml
Due: none

[bot:next] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/kodata/tekton-scheduler/0.3.1/release-v0.3.1.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-multicluster-bundle-on-pull-request, operator-next-bundle-on-pull-request

[bot] Update release-v1.22.x from tektoncd/operator:release-v0.79.x to 82f67a944c34d58a9592b79e9f4dd4c8f7f164b0
  .konflux/olm-catalog/bundle/kodata/tekton-addon/pipelines-as-code/v0.42.2/release.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.23.12/api/api.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.23.12/db-migration/db-migration.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.23.12/db/db.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.23.12/hub-info/hub-info.yaml
  .konflux/olm-catalog/bundle/kodata/tekton-hub/v1.23.12/ui/ui.yaml
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  head
  upstream/components.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/operatorhub/openshift/manifests/bases/openshift-pipelines-operator-rh.clusterserviceversion.template.yaml
  upstream/vendor/modules.txt
Due: operator-main-bundle-on-pull-request, operator-main-bundle-on-push, operator-main-operator-on-pull-request, operator-main-proxy-on-pull-request, operator-main-webhook-on-push, operator-multicluster-bundle-on-pull-request, operator-multicluster-operator-on-push, operator-multicluster-proxy-on-push, operator-next-bundle-on-pull-request, operator-next-proxy-on-pull-request, operator-next-proxy-on-push

update the component image sha
  project.yaml
Due: none
