Repository openshift-pipelines-konflux/tektoncd-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-operator-main-index-4.17-on-push, tektoncd-operator-main-index-4.19-on-push

.tekton/tektoncd-operator-main-index-4.17-push.yaml:

# Generated for Konflux Application openshift-pipelines-index-4.17 by openshift-pipelines/hack. DO NOT EDIT
apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    pipelinesascode.tekton.dev/cancel-in-progress: "true" # Cancel in-progress pipelines
    pipelinesascode.tekton.dev/pipeline: "https://raw.githubusercontent.com/openshift-pipelines/operator/refs/heads/main/.tekton/docker-build-ta.yaml"
    build.appstudio.openshift.io/repo: https://github.com/openshift-pipelines-konflux/tektoncd-operator.git?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" &&
      (( ".konflux/olm-catalog/index/***".pathChanged()) ||
      ".konflux/olm-catalog/index/v4.17/Dockerfile.catalog".pathChanged() ||
      ".tekton/tektoncd-operator-main-index-4.17-push.yaml".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: openshift-pipelines-index-4-17-main
    appstudio.openshift.io/component: tektoncd-operator-main-index-4-17
    pipelines.appstudio.openshift.io/type: build
  name: tektoncd-operator-main-index-4.17-on-push
  namespace: tekton-ecosystem-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/index-4.17-rhel9:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.17/Dockerfile.catalog
  pipelineRef:
    name: fbc-build
  taskRunTemplate:
    serviceAccountName: build-pipeline-tektoncd-operator-main-index-4-17
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/tektoncd-operator-main-index-4.19-push.yaml:

# Generated for Konflux Application openshift-pipelines-index-4.19 by openshift-pipelines/hack. DO NOT EDIT
apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    pipelinesascode.tekton.dev/cancel-in-progress: "true" # Cancel in-progress pipelines
    pipelinesascode.tekton.dev/pipeline: "https://raw.githubusercontent.com/openshift-pipelines/operator/refs/heads/main/.tekton/docker-build-ta.yaml"
    build.appstudio.openshift.io/repo: https://github.com/openshift-pipelines-konflux/tektoncd-operator.git?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" &&
      (( ".konflux/olm-catalog/index/***".pathChanged()) ||
      ".konflux/olm-catalog/index/v4.19/Dockerfile.catalog".pathChanged() || ".tekton/*build*.yaml".pathChanged() ||
      ".tekton/tektoncd-operator-main-index-4.19-push.yaml".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: openshift-pipelines-index-4-19-main
    appstudio.openshift.io/component: tektoncd-operator-main-index-4-19
    pipelines.appstudio.openshift.io/type: build
  name: tektoncd-operator-main-index-4.19-on-push
  namespace: tekton-ecosystem-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/index-4.19-rhel9:{{revision}}
  - name: dockerfile
    value: .konflux/olm-catalog/index/v4.19/Dockerfile.catalog
  pipelineRef:
    name: fbc-build
  taskRunTemplate:
    serviceAccountName: build-pipeline-tektoncd-operator-main-index-4-19
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

[bot:main] update konflux configuration
  .tekton/tektoncd-operator-main-index-4.19-pull-request.yaml
  .tekton/tektoncd-operator-main-index-4.19-push.yaml
Due: tektoncd-operator-main-index-4.19-on-push

[bot:main] Update generate Cluster Service Version (CSV)
  .konflux/olm-catalog/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
Due: none

update index versions
  .konflux/main/component-index-4.17.yaml
  .konflux/main/component-index-4.18.yaml
  .konflux/main/image-index-4.17.yaml
  .konflux/main/image-index-4.18.yaml
  .konflux/next/component-index-4.15.yaml
  .konflux/next/component-index-4.16.yaml
  .konflux/next/component-index-4.17.yaml
  .konflux/next/component-index-4.18.yaml
  .konflux/next/image-index-4.15.yaml
  .konflux/next/image-index-4.16.yaml
  .konflux/next/image-index-4.17.yaml
  .konflux/next/image-index-4.18.yaml
  .konflux/next/tests-index-4-15.yaml
  .konflux/next/tests-index-4-16.yaml
  .konflux/next/tests-index-4-17.yaml
  .konflux/next/tests-index-4-18.yaml
  .konflux/olm-catalog/index/v4.12/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.13/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.13/catalog-template.json
  .konflux/olm-catalog/index/v4.13/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.14/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.14/catalog-template.json
  .konflux/olm-catalog/index/v4.14/catalog/openshift-pipelines-operator-rh/catalog.json
  .konflux/olm-catalog/index/v4.19/Dockerfile.catalog
  .konflux/olm-catalog/index/v4.19/catalog-template.json
  .konflux/olm-catalog/index/v4.19/catalog/openshift-pipelines-operator-rh/catalog.json
Due: tektoncd-operator-main-index-4.17-on-push, tektoncd-operator-main-index-4.19-on-push

Update ubi9 to 34880b64c07f28f64d95737f82f891516de9a3b43583f39970f7bf8e4cfa48b7
  .konflux/dockerfiles/proxy.Dockerfile
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
  .tekton/tektoncd-operator-main-bundle-pull-request.yaml
  .tekton/tektoncd-operator-main-bundle-push.yaml
  .tekton/tektoncd-operator-main-operator-pull-request.yaml
  .tekton/tektoncd-operator-main-operator-push.yaml
  .tekton/tektoncd-operator-main-proxy-pull-request.yaml
  .tekton/tektoncd-operator-main-proxy-push.yaml
  .tekton/tektoncd-operator-main-webhook-pull-request.yaml
  .tekton/tektoncd-operator-main-webhook-push.yaml
Due: none
